
.Intro{
    padding: 20.20% 39.5%;
    text-align: center;
    background-color: #75b0e1 ;
    margin: -10px;
    color: white;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-size:large;
    font-size: 30;
    background-size:contain;
    h1{
        padding-bottom: -2px;
        margin-bottom: -2px;
    }
    h5{
        padding-bottom: 0;
        margin-bottom: -1.4%;
        margin-top: -0.5%;
    }
    span{
        margin-bottom: -0.5%;
    }
}
.Part1{
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 400;
    .main{
        margin-right: 15px;
        margin-left:15px;
    }
    padding-right: 260px auto;
    padding-left: 260px auto;
    padding-top: 210px ;
    padding-bottom: 210px ;  
    background: url({% static '457865450_1051160870346690_2190275401750703422_n.jpg' %});
    color: white;
    font-size: large;
    margin-left: -10px;
    margin-right: -10px;
    background.repeat: no-repeat;
    background-size:cover;
}
.content{
    li{
        text-align: left;
        margin-left: 300px auto;
        margin-right: 300px auto;
        font-family: "Merriweather", serif;
        font-weight: 400;
        border-style: solid;
        border-width: 3px;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 15px;
        list-style: none;
        margin-top: 10px;
        }
    }
.final{
    background: url({% static 'z5789911218208_607c2e097507c5cc3c685aeaa1c796f3.jpg' %});
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 400;
    padding-top:100px;
    padding-bottom: 600px ;  
    background-size: cover;
    color: white;
    margin:-1%;
    margin-top: 0%;
}